@model ShopNetApp.Models.Category

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Category</h2>
<br/>

<!-- FORM -->
<!--=======-->
<!-- ACTION: Category/Update/Id | Method:Post-->
@using (Html.BeginForm("Update", "Category",new {Id = @Model.Id },FormMethod.Post))
{
    <!--** PASS CategoryId as Hidden Field**-->
    <input type="hidden"  value="@Model.Id" name="CategoryId"/>

    <div class="form-row">
        <!-- CATEGORY NAME-->
        <div class="form-group col-md-4">
            @Html.LabelFor(Model => Model.Name)
            @Html.TextBoxFor(Model => Model.Name, Model.Name, new { @class = "form-control", placeholder = "Enter Category Name" })
        </div>
    </div>

    <div class="form-row">
        <!-- ORDER Details-->
        <div class="form-group col-md-4">
            @Html.LabelFor(Model => Model.DisplayOrder)
            @Html.TextBoxFor(Model => Model.DisplayOrder, Model.DisplayOrder.ToString(), new { @class = "form-control", placeholder = "Enter Order Id" })
        </div>
    </div>



    <!-- UPDATE -->
    <button type="submit" class="btn btn-success mx-2">Update</button>

    <!-- CANCEL-->
    <a class="btn btn-danger" href="@Url.Action("Index","Category")">Cancel</a>
}





