@model IEnumerable<ShopNetApp.Models.Category>


@{
    ViewData["Title"] = "Index";
}


<div class="row">
    <!--Add New Category Button -->
    <div class="col-sm-8">
        <a class="btn btn-primary" href="@Url.Action("Create", "Category")">Add New Category</a>
    </div>

    <!-- SEARCH BOX -->
    <form class="form-inline search-box mt-2" action="/Category/Index" >
        <i class="material-icons">&#xE8B6;</i>

        <!--<input type="search" class="form-control" id="search" name="search" value="@ViewBag.Search" placeholder="Search...">-->

        @Html.TextBox("Search", @ViewBag.Search as string, new { @class = "form-control", placeholder = "Search" })
    </form>
    
</div>


<div>
    <!-- TABLE -->
    <table class="table mt-4 table-responsive">
        <thead>
            <tr class="table-secondary">
                <th>Id</th>
                <th>Name</th>
                <th>Display Oders</th>
                <th style="width:10%" colspan="3" class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.DisplayOrder</td>

                    <!-- DETAILS|Edit|Delete Buttons-->
                    <td><a class="btn btn-light text-secondary" style="border-radius:50%;" href="/Category/Details/@item.Id"><i class="far fa-eye"></i></a></td>
                    <td><a class="btn btn-primary text-white" style="border-radius:50%;" href="/Category/Edit/@item.Id"><i class="far fa-edit"></i></a></td>
                    <td><a class="btn btn-danger text-white" style="border-radius:50%;" href="/Category/Delete/@item.Id"><i class="far fa-trash-alt"></i></a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<br /><br />
<!-- PAGINATION -->
<div class="clearfix">
    <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
    <ul class="pagination">
        <li class="page-item disabled"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
        <li class="page-item"><a href="#" class="page-link">1</a></li>
        <li class="page-item"><a href="#" class="page-link">2</a></li>
        <li class="page-item active"><a href="#" class="page-link">3</a></li>
        <li class="page-item"><a href="#" class="page-link">4</a></li>
        <li class="page-item"><a href="#" class="page-link">5</a></li>
        <li class="page-item"><a href="#" class="page-link"><i class="fa fa-angle-double-right"></i></a></li>
    </ul>
</div>