@model ShopNetApp.Models.ViewModel.ProductDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<!-- /Home/Details/Post-->
<form action="/Home/Details" method="post">

    <!-- Pass Current ProductId as hiddenField-->
    <!-- To Check if current Product Exists in Cart or not-->
    <input type="hidden" value="@Model.Product.Id" name="ProductId"/>


    <div class="row">
        <div class="col-md-4">
            <img class="img img-responsive mt-4" src="@WC.ImagePath@Model.Product.Image" width="320" height="280" style="border:2px solid grey;" />
            <br /><br />
        </div>

        <div class="col-md-2">

        </div>

        <div class="col-md-6">
            <table class="table mt-1">
                <tr>
                    <th>Product Name</th>
                    <td>@Model.Product.Name</td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td>@Model.Product.Price.ToString("c")</td>
                </tr>
                <tr>
                    <th>Category</th>
                    <td>@Model.Product.Category.Name</td>
                </tr>
                <tr>
                    <th>Application Type</th>
                    <td>@Model.Product.ApplicationType.Name</td>
                </tr>
            </table>

            <!-- SHOPPING CART | Cancel Buttons-->
            <div>
                @if(Model.existsInCart)
                {
                    <!-- REMOVE FROM CART (RemoveFromCart/ProductId)-->
                    <a asp-action="RemoveFromCart" asp-route-id="@Model.Product.Id" class="btn btn-secondary">Remove from Cart</a>

                }else{

                    <!-- ADD TO CART (Post: Details/Id)-->
                    <button type="submit" asp-route-id="@Model.Product.Id" class="btn btn-secondary">Add to Cart</button>
                }
                <a class="btn btn-success" href="@Url.Action("Index","Home")">Back</a>
            </div>
            <br /><br />

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table style="padding:2px;">
                <tr>
                    <td>
                        <div>
                            @if (!string.IsNullOrEmpty(Model.Product.ShortDescription))
                            {
                                <b>Short Description:</b>
                                <p>@Model.Product.ShortDescription</p>
                            }
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            @if (!string.IsNullOrEmpty(Model.Product.Description))
                            {
                                <b>Description:</b>
                                <p>@Html.Raw(@Model.Product.Description)</p>
                            }
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</form>




